body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
  display: block
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  margin-left:50px;
}

#headerwrap {
  background: url(../d.PNG) no-repeat center top;
  padding-top: 140px;
  text-align: center;
  background-position: center center;
  min-height: 500px;
  background-size: cover;
  font: caption;
}

#headerwrap h1 {
  font-size: 80px;
  color: white;
  font-family: "Raleway";
}

#headerwrap h3{
  font-size: 20px;
  color:white;
  font-family: "Raleway";
}

#intro {
  background: #2c3e50;
  /* padding-left: 100px; */
  padding-bottom: 60px;
  padding-top: 60px;
  color: white;
}

#intro h5, p {
  color: white;
  padding-left: 50px;
  margin-top:10px;
}

.desc{
  padding-top:50px;
  text-align:center;
}

