body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: rgb(81, 107, 122);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
  display: block
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  margin-left:50px;
}

#headerwrap {
  background: url(../bg.jpg) no-repeat center top;
  padding-top: 140px;
  text-align: center;
  background-position: center center;
  min-height: 100vh;
  background-size: cover;
  font: caption;
}

#headerwrap h1 {
  font-size: 80px;
  padding-top:20vh;
  color: white;
  font-family: "Raleway";
}

#headerwrap h3{
  font-size: 20px;
  color:white;
  font-family: "Raleway";
}

#intro {
  background: #2c3e50;
  padding-bottom: 60px;
  padding-top: 60px;
  color: white;
}

#intro h5, p {
  color: white;
  margin-top:10px;
}

.desc{
  padding-top:50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc imp {
  padding: 5px;
  color: white;
  background: #34495e;
}

.desc more {
  color: #95a5a6;
}

sm {
  font-size: 15px;
}

.skill{
  padding-top:60px;
  padding-bottom:60px;
}

 .skill span {
  color: #2f2f2f;
  padding-left:40px;
}

#footer {
  background: #000;
  padding-bottom:5px;
  padding-top: 60px;
  color: white;
}

#footer h5, p {
  color: white;
  margin-top:10px;
}